<h1>DOCTOR SHOW PAGE</h1>

<div id="information">
  <p>Name: <%= @doctor.name %></p>
  <p>Specialty: <%= @doctor.specialty %></p>
  <p>Education: <%= @doctor.university %></p>
</div>

<div id="hospital">
  <p>Hospital: <%= @doctor.hospital.name %></p>
</div>

<div id="patients">
  <p>Patients: <% @doctor.patients.each do |patient| %>
    <div id="patient-<%= patient.id %>">
    <%= patient.name %>
    <%= button_to 'Remove Patient', "/doctors/#{@doctor.id}?patient_id=#{patient.id}", method: :patch %>
    </div>
  <% end %></p>
</div>